#landing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.frame {
    border-radius: 12px;
    border: 1px gray solid;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: 5px;
}

.operate {
    margin: 5px;
    border-radius: 12px;
}

.note.header {
    border-bottom: 1px gray solid;
    margin-top: 5px;
}

.note.header p {
    display: inline-block;
}

.note.content {
    margin-bottom: 5px;
}

.projectInfo {
    border-bottom: 1px gray;
    color: #f3f3f3;
    width: 100%;
}

.projectInfo p {
    display: inline-block;
    margin-inline-end: 2em;
}

.hoverable:hover {
    cursor:pointer;
}

.lineBreak {
    white-space: pre-wrap;
}

a {
    color: white;
}